<footer  class=" bg-dark" style=" align-items: center; width: 100%; box-shadow: 0px 0px 10px #000;">
    <ul class="" >
        <li class="flex-item"><a class="" href="https://www.linkedin.com/in/agustin-adrian-conde/"><img src="../assets/img/linkedin.png" alt="Linkedin"></a></li>
        <li class="flex-item"><a class="" href="https://www.instagram.com/agustinadrian.conde/"><img src="../assets/img/instagram.png" alt="Instagram"></a></li>
        <li class="flex-item"><a class="" href="https://www.facebook.com/agustinadrian.conde/"><img src="../assets/img/facebook.png" alt="Facebook"></a></li>
        <li class="flex-item"><a class="" href="https://github.com/agusconde18"><img src="../assets/img/github.png" alt="GitHub"></a></li>
    </ul>
</footer>
